<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-чат</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/chat.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="header">
            Мини-чат
            <button class="logout-btn" id="logoutBtn">Выход</button>
        </div>
        <div class="user-list" id="userList">
            <!-- Сначала выводим "Избранное" -->
            <div class="user-item" data-user-id="{{ user.id }}">
                Избранное
            </div>
            <!-- Выводим остальных пользователей -->
            {% for chat in users_all %}
                {% if chat.id != user.id %}
                    <div class="user-item" data-user-id="{{ chat.id }}">
                        {{ chat.name }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-header" id="chatHeader">Выберите пользователя для общения</div>
        <div class="chat-messages" id="chatMessages">
            <div class="welcome-message">Выберите чат для общения!</div>
        </div>
        <div class="chat-input">
            <input type="text" id="messageInput" placeholder="Введите сообщение..." disabled>
            <button id="sendButton" disabled>Отправить</button>
        </div>
    </div>

<script src="{{ url_for('static', path='js/chat.js') }}"></script>
</body>
</html>